# ============================================================
#  /vc/ — cartella PUBBLICA per la visualizzazione vCard
#  Nessuna autenticazione richiesta
# ============================================================
Satisfy Any
Allow from all

Options -Indexes
DirectoryIndex index.html
DirectoryIndex index.html

<Files "">
Order allow,deny
Allow from all
</Files>

<Files "index.html">
Order allow,deny
Allow from all
</Files>